@use "./variables" as *;

pre[class*="language-"] {
  width: 100%;
  border-radius: 8px;
  font-size: 14px !important;
  margin-bottom: 16px;
  margin-top: 8px;

  @media screen and (min-width: $device-md) {
    margin-top: 16px;
  }
}

// pre = follow md format, scrollbar
// pre-wrap = wrap if it exceeds device width
// nowrap = one single line
// normal = md whitespaces are removed
code[class*="language-"] {
  white-space: pre;
}
