@use "./variables" as *;

pre[class*="language-"] {
  position: relative;
  width: 100%;
  border-radius: 8px;
  font-size: inherit;
  font-weight: inherit;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 16px;
  margin-top: 8px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 1rem;
    font-size: 14px;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #5f5f5f3c;
  }
  @media screen and (min-width: $device-md) {
    margin-top: 16px;
  }
}

pre[class~="language-cpp"]:after {
  content: "C++" !important;
}

pre[class~="language-java"]:after {
  content: "Java" !important;
}

pre[class~="language-python"]:after {
  content: "Python" !important;
}

pre[class~="language-js"]:after,
pre[class~="language-javascript"]:after {
  content: "JS" !important;
}

pre[class~="language-bash"]:after {
  content: "bash" !important;
}

// pre = follow md format, scrollbar
// pre-wrap = wrap if it exceeds device width
// nowrap = one single line
// normal = md whitespaces are removed
code[class*="language-"] {
  white-space: pre;
}
