// Device widths
$device-sm: 640px;
$device-md: 768px;
$device-lg: 1024px;
$device-xlg: 1280px;

:root {
  // Blog Colour Theme 1
  --theme1-primary: #604cc3;
  --theme1-secondary: #80c4e9;
  --theme1-accent: #ff7f3e;
  --theme1-code: #e36a2d;
  --theme1-gray: #808080;
  --theme1-link-hover:      
;
}
