@use "./variables" as *;
@use "./blog";
@use "./pre";
@use "./post";
@use "./link";
@use "./landing/landing";
@use "./quote";

// IBM Plex Sans
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata&family=Inter:wght@100&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

// Roboto
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata&family=Inter:wght@100&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: var(--mui-bg);
}

#root {
  background-color: var(--mui-bg);
  width: 100vw;
  min-width: 320px;
}
